# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*$py.class

# ======================================
# Virtual Environment
# ======================================
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# ======================================
# IDE
# ======================================
.vscode/
.idea/

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# Operating System Files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Build Files
# ======================================
build/
dist/
*.egg-info/

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Testing
# ======================================
.pytest_cache/
.coverage
htmlcov/

# ======================================
# Datasets
# ======================================
datasets/

# ======================================
# Captured Images & Generated Outputs
# ======================================
captures/

# ======================================
# AI / ML Models
# ======================================
*.h5
*.pt
*.pth
*.onnx
*.tflite
*.pb

# ======================================
# Temporary Files
# ======================================
temp/
tmp/